/************* GENERAL ***************/
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #F5EEE6;
    width: 100%;
    overflow-x: hidden;
}

@media (max-width: 987px) {
    
}

/************* NAV ***************/

.main-nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #FFDAE3;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-nav a {
    color: #6D1F35;
    text-decoration: none;
    font-family: 'Rochester', cursive;
    font-size: 25pt;
}


/********** BURGER **********/

#burgertop {
    height: 120px;
    border-bottom: #c400ff;
    border-bottom-style:solid;
    border-width: 2px
}


#navburger ul li{
    list-style: none;
}

#navburger{
    min-width: 100%;
    background: #FFDAE3;
    height: 90px;
    display: none;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    
}



label.logo{
    color: rgb(175, 59, 133);
    font-size: 35px;
    line-height: 80px;
    font-size: bold;
}


#navburger ul{
    float: right;
    margin-right: 20px;
}

#navburger ul li{
   display: inline-block;
   line-height: 50px;
}

#navburger ul li a{
    color: #6D1F35;
}


.checkbtn{
    font-size: 30px;
    color: white;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


#check{
    display: none;
}


@media (max-width: 987px){

/*** burger og nav ***/

    .main-nav {
        display: none;
    }

    label.logo{
        position: absolute;
        right: 10px;
        top: 10px;
    }

    nav ul li a{
        font-size: 16px;
    }
   
    main{
    padding-top: 60px ;
    }

     #navburger{
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
     }

     nav{
        display: none;
     }

    .checkbtn{
       display: flex;
       align-items: center;
       justify-content: flex-end; 
    }

    ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #FFDAE3;
    top: 74px;
    left: -130%;
    transition: all .5s;
    flex-direction: column;
    display: flex;
    text-align: left;
    
    }
    
    nav ul li{
    display: block;
    margin: 50px 0px;
    line-height: 30px;
    }

    nav ul li a{
        color: #6D1F35;
        text-decoration: none;
        font-family: 'Rochester', cursive;
        font-size: 25pt;
    }


    #check:checked ~ ul {
     left: 0;
    } 
}


#burger{
    background-color: black;
    background-size: cover;
    height: calc(100vh - 80px);
    display: none;
}





/************* FOOTER ***************/

footer {
    background-image: url(billeder/footer-bg.jpg);
    padding: 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-icons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  
  .footer-icons i {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .footer-logo {
    height: auto;
  }
  
  .footer-heading {
    margin: 0;
    text-align: center;
    color: #6D1F35;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15pt;
  }
  
  footer p {
    margin: 0;
    text-align: center;
    color: #6D1F35;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 10pt;
    line-height: 25pt;
  }
  

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-icons {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-around;
      gap: 10px;    
}

    .footer-logo {
        margin-top: 10px;
        margin-bottom: 20px;
    }
  }


/********** KNAP ***********/

.knap {
    background: #FFDAE3;
    border-radius: 12px;
    height: 40px;
    width: 170px;
    display: flex;
    color: black; 
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16pt;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    }


/***** FORSIDE ******/
/************* MAIN ***************/

/***** Velkomst ******/

#intro {
    height: 970px;
    background-image: url("billeder/start.jpg");
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

#intro h1 {
    color: #FBA5B6;
    font-family: 'Rochester', cursive;
    font-size: 90pt;
    text-align: center;
    font-weight: 100;
}

@media (max-width: 987px) {
    #intro h1 {
        font-size: 70pt;
    }
}

/****** Skatte *****/

#skatte-f {
    background-image: url(billeder/forside.skatte.jpg);
    background-position: center center;
    height: 960px;
    padding-top: 10px;

    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    align-items: left;
    padding-left: 50px;
}

#skatte-f a {
    margin-left: 190px;
}

#skatte-f h2 {
    color: #C86B85;
    font-family: 'Rochester', cursive;
    font-weight: 100;
    font-size: 80pt;
    line-height: 0;
    margin-left: 60px;
}

.hvid-box-1 {
    background-color: rgb(255, 255, 255);
    opacity: 75%;
    padding: 10px;
    border-radius: 12px;
    width: 75%;
    margin-bottom: 30px;
    }

@media (max-width: 987px) {

        #skatte-f {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            margin: 0;
        }

        #skatte-f a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }

        #skatte-f h2 {
            font-size: 60pt;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }

    }

@media (max-width: 450px) {
        #skatte-f h2 {
            font-size: 50pt;
        }
    }

@media (max-width: 680px) {
        .hvid-box-1 {
            max-width: 75%;
            height: min-content;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }
    }


/**** Hot spots ***/
#hot-f {
    background-image: url(billeder/forside.hot.jpg);
    background-position: center center;
    height: 960px;
    padding-top: 10px;

    display: flex;
    justify-content: center;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 50px;
}

#hot-f a {
    margin-right: 230px;
}

.hvid-box-2 {
    background-color: rgb(255, 255, 255);
    opacity: 75%;
    padding: 10px;
    border-radius: 12px;
    width: 600px;
    margin-bottom: 30px;
    }

#hot-f h2 {
    color: #C86B85;
    font-family: 'Rochester', cursive;
    font-weight: 100;
    font-size: 60pt;
    line-height: 60pt;
    text-align: center;
    margin-right: 165px;
}

@media (max-width: 987px) {

    #hot-f {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        margin: 0;
    }

    #hot-f a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    #hot-f h2 {
        font-size: 60pt;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 450px) {
    #hot-f h2 {
        font-size: 49pt;
    }
}

@media (max-width: 680px) {
    .hvid-box-2 {
        max-width: 75%;
        height: min-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
}

/**** Natur ****/

#natur-f {
    background-image: url(billeder/forside.bro.jpg);
    background-position: center center;
    height: 960px;
    padding-top: 10px;

    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    align-items: left;
    padding-left: 50px;
}

#natur-f a {
    margin-left: 190px;
}

#natur-f h2 {
    color: #C86B85;
    font-family: 'Rochester', cursive;
    font-weight: 100;
    font-size: 80pt;
    line-height: 0;
    margin-left: 180px;
}

.hvid-box-1 {
    background-color: rgb(255, 255, 255);
    opacity: 75%;
    padding: 10px;
    border-radius: 12px;
    width: 600px;
    margin-bottom: 30px;
    }

@media (max-width: 987px) {

    #natur-f {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        margin: 0;
    }

    #natur-f a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    #natur-f h2 {
        font-size: 60pt;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 450px) {
    #natur-f h2 {
        font-size: 49pt;
    }
}
    
/**** Hotel ***/

#hotel-f {
    background-image: url(billeder/forside.hotel.JPG);
    background-position: center center;
    height: 960px;
    padding-top: 10px;

    display: flex;
    justify-content: center;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 50px;
}

#hotel-f a {
    margin-right: 230px;
}

.hvid-box-2 {
    background-color: rgb(255, 255, 255);
    opacity: 75%;
    padding: 10px;
    border-radius: 12px;
    width: 600px;
    margin-bottom: 30px;
    }

#hotel-f h2 {
    color: #C86B85;
    font-family: 'Rochester', cursive;
    font-weight: 100;
    font-size: 60pt;
    line-height: 60pt;
    text-align: center;
    margin-right: 175px;
}

@media (max-width: 987px) {

    #hotel-f {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        margin: 0;
    }

    #hotel-f a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    #hotel-f h2 {
        font-size: 60pt;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 450px) {
    #hotel-f h2 {
        font-size: 49pt;
    }
}


/*********************** SKJULTE SKATTE **********************/

#skat {
    padding-bottom: 80px;
}

#skat-top {
    background-image: url(billeder/forside.skatte.jpg);
    background-position: center center;
    height: 700px;
    padding-top: 10px;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: left;
    padding-left: 50px;
    padding-bottom: 30px;
}

#skat-top h2 {
    color: #FBA5B6;
    font-family: 'Rochester', cursive;
    font-size: 70pt;
    text-align: center;
    font-weight: 100;
}

#skat-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    margin: auto;
    padding-top: 100px;

    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15pt;    
}

.venstre {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    max-width: 60%;
    margin: auto;
    gap: 50px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.venstre h3 {
    font-family: 'Rochester', cursive;
    font-size: 30pt;
    color: #C86B85;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.knap-v {
    background: #FFDAE3;
    border-radius: 12px;
    height: 40px;
    width: 170px;
    display: flex;
    color: black; 
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16pt;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#højre-tekst {
    text-align: right;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14pt;
    max-width: 600px;
    padding-bottom: 20px;
}


.skat-indehold{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14pt;
    max-width: 600px;
    padding-bottom: 20px;
}

@media (max-width: 987px) {
    .venstre {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 10px;
        text-align: center;
    }

    #højre-tekst {
        text-align: center;
    }

    .stor {
        display: none;
    }
    }

@media (min-width: 987px) {
    .lille {
        display: none;
    }
}

/*********************** BYGGE ROD **********************/

#byg {
    height: 754px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#byg h1 {
    color: #6D1F35;
    font-family: 'Rochester', cursive;
    font-size: 50pt;
    font-weight: 100;
}

